DATASETS
DUMMY
DUMMY2
samples
logs
__pycache__
.ipynb_checkpoints
.*.swp

build
*.c
monotonic_align/monotonic_align
.env
pretrained_blank.pth
temp
inference_hifigan.ipynb
sample_sound
FromJarvis
Database
*.pth
*.tar.gz
BigVGAN_
Temp_jarvis